.card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__image{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

.card__delete-button{
    background: transparent url(../images/Trash.svg) center no-repeat;
    border: none;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.card__delete-button:hover{
    opacity: 0.5;
}

.card__tab{
    display: flex;
    padding: 25px 20px 25px 20px;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}

.card__tab-title{
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__tab-button{
    background: transparent url(../images/Heart.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
    transition-duration: 0.5s;
    cursor: pointer;
    flex-shrink: 0;
}

.card__tab-button_filled{
    background: transparent url(../images/HeartFilled.svg) center no-repeat;
}

.card__tab-button:hover{
    opacity: 0.5;
}