.cards__list{
    list-style: none;
    margin: 0;
    padding: 51px 0 0 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
}

@media screen and (max-width:636px) {
    .cards__list{
        padding: 36px 0 0 0;
    }
}