.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    visibility: none;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.5s linear;
}

.modal__form{
    margin-top: -186px;
    margin-left: -215px;
}

.modal__content{
    max-width: 75vw;
    max-height: 75vh;
    margin-top: -37.5vh;
    margin-left: -37.5vw;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.modal-preview-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.modal-preview-description{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    margin: 10px 0 0 0;
}

.modal-button{
    background: transparent url(../images/Close-Icon.svg) center no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 100%;
    transition-duration: 0.5s;
    cursor: pointer;
}

.modal-button:hover{
    opacity: 0.6;
}

.modal__container{
    width: 430px;
    height: 330px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.modal__container-title{
    color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin: 34px 0 54px 36px;
}

.modal__container-name{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 36px 30px 36px;
    padding: 0 0 13px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
}

.modal__container-description{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 36px 0 36px;
    padding: 0 0 13px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
}

.modal__container-button{
    margin: 48px 36px 0 36px;
    height: 50px;
    background: #000000;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.modal__container-button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 636px) {
    .modal__form{
        margin-top: -161px;
        margin-left: -141px;
    }
    .modal__content{
        margin-top: -20vh;
    }
    .modal-button{
        width: 26px;
        height: 26px;
    }
    .modal__container{
        max-width: 282px;
        height: 322px;
    }
    .modal__container-title{
        font-size: 18px;
        margin: 25px 0 75px 22px;
    }
    .modal__container-name{
        font-size: 14px;
        margin: 0 22px 30px 22px;
    }
    .modal__container-description{
        font-size: 14px;
        margin: 0 22px 0 22px;
    }
    .modal__container-button{
        margin: 45px 22px 0 22px;
        height: 46px;
    }
}