.footer{
    padding: 67px 0 60px 0;
}
.footer__copyright{
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #545454;
}

@media screen and (max-width:636px) {
    .footer{
        padding: 48px 0 36px 0;
    }
    .footer__copyright{
        font-size: 14px;
    } 
}