.profile{
    display: flex;
    align-items: center;
    padding: 40px 0 0 0;
    border-top: 1px solid rgba(84, 84, 84, 0.7);
}

.profile__image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
}

.profile__overlay{
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: black;
    opacity: 0;
}

.profile__overlay:hover{
    opacity: 0.8;
    transition: 0.5s ease;
}

.profile__overlay-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent url(../images/EditProfileIcon.svg) center no-repeat;
    height: 26px;
    width: 26px;
    border: none;
}

.profile__info{
    display: flex;
    flex-wrap: wrap;
    max-width: 415px;
}

.profile__info-name{
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.1;
}

.profile__info-button{
    background: transparent url(../images/Pen.svg) center no-repeat;
    height: 24px;
    width: 24px;
    border: 1px solid #ffffff;
    align-self: flex-end;
    margin-bottom: 9px;
    margin-left: 18px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.profile__info-button:hover{
    opacity: 0.6;
}

.profile__info-description{
    margin: 0;
    padding-top: 7px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.profile__button{
    background: transparent url(../images/Plussign.svg) center no-repeat;
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-left: auto;
    transition-duration: 0.5s;
    cursor: pointer;
}

.profile__button:hover{
    opacity: 0.6;
}

@media screen and (max-width:935px) {
    .profile__image{
        margin-right: 15px;
    }
    .profile__info{
        max-width: 320px;
    }
    .profile__info-name{
        font-size: 32px;
    }
    .profile__info-button{
        margin-left: 9px;
        margin-bottom: 6px;
    }
    .profile__info-description{
        font-size: 16px;
    }
    .profile__button{
        width: 100px;
    }
}

@media screen and (max-width:636px) {
    .profile{
        flex-direction: column;
    }
    .profile__image{
        margin: 0;
    }
    .profile__info{
        justify-content: center;
        padding: 36px 0 0 0;
    }
    .profile__info-name{
        font-size: 22px;
    }
    .profile__info-button{
        background-size: 7.5px 7.5px;
        width: 18px;
        height: 18px;
        margin: 0 15px 4px 10px;
    }
    .profile__info-description{
        padding: 10px 0 36px 0;
        font-size: 14px;
    }
    .profile__button{
        width: 282px;
        background-size: 16px 16px;
    }
}